body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #300724 !important;
}

.App {
  background-color: #581042;
  padding: 20px;
  color: #fff;
}
.Header {
  text-align: center;
}
/* Navbar.css */

.Navbar {
  color: #fff;
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.Navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.Navbar-nav {
  margin-left: auto;
}

.Nav-link {
  color: #fff !important;
  margin-left: 10px;
}

.Nav-link:hover {
  color: #007bff !important;
}

/* GroupForm.css */
.Form {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
}
.FormGroup {
  margin-bottom: 20px;
}

.FormLabel {
  font-weight: bold;
}

.FormControl {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.SubmitButton {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.SubmitButton:hover {
  background-color: #0056b3;
}

/* GroupList.css */

.Table {
  width: 100%;
  border-collapse: collapse;
}

.Table th,
.Table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

.Table th {
  background-color: #007bff;
  color: #fff;
  text-transform: uppercase;
}

.Table td {
  background-color: #fff;
}

/* GroupItem.css */

.Button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Button:hover {
  background-color: #0056b3;
}
